body{
  background-color: #EDE6DB;
}
hr {
  border-style: dotted none none;
  border-color: #417D7A;
  border-width: 10px;
  width: 10%;
}
h1 {
  color: #1A3C40;
}

h2 {
  color: #1D5C63;
}

h3 {
  color: #417D7A;
}
